---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
            Ausbildung für Pferd &amp; Reiter
          </h1>
          <p class="md:text-md">
            Wir begleiten dich und dein Pferd mit individuell abgestimmtem
            Unterricht, kompetentem Beritt und persönlicher Unterstützung –
            herzlich, zielgerichtet und mit Freude an der Weiterentwicklung.
          </p>
          <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
              title="Kurs Plan"
            >
              Kurs Plan</button
            ><button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
              title="Unser Angebot"
            >
              Unser Angebot
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container max-w-lg">
      <div class="mb-12 text-center md:mb-18 lg:mb-20">
        <p class="mb-3 font-semibold md:mb-4">Tagline</p>
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Lehrgänge &amp; Kurse
        </h2>
        <p class="md:text-md">
          Vertiefen Sie Ihr Wissen und Können in unseren kompakten Kursen.
        </p>
      </div>
      <div>
        <div class="border-t border-border-primary py-6 md:py-8">
          <div class="mb-3 flex items-center gap-4 md:mb-4">
            <h3 class="text-xl font-bold md:text-2xl">
              Intensivkurs mit Annali
            </h3>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              Anfänger und Fortgeschrittene
            </div>
          </div>
          <p class="mb-5 md:mb-6">
            Ein intensiver Kurs mit intensiven Inhalten und intensiven
            Lernerlebnis
          </p>
          <div class="flex flex-wrap gap-y-3">
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
              </div>
              <span class="md:text-md">Am Hof</span>
            </div>
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                  ></path>
                  <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                </svg>
              </div>
              <span class="md:text-md">18-02 - 20.02.2026</span>
            </div>
          </div>
          <button
            class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-5 py-2 mt-6 md:mt-8"
            title="Apply Now"
          >
            <a href="#">Apply Now</a>
          </button>
        </div>
        <div class="border-t border-border-primary py-6 md:py-8">
          <div class="mb-3 flex items-center gap-4 md:mb-4">
            <h3 class="text-xl font-bold md:text-2xl">
              Intensivkurs mit Annali
            </h3>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              Anfänger und Fortgeschrittene
            </div>
          </div>
          <p class="mb-5 md:mb-6">
            Ein intensiver Kurs mit intensiven Inhalten und intensiven
            Lernerlebnis
          </p>
          <div class="flex flex-wrap gap-y-3">
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
              </div>
              <span class="md:text-md">Am Hof</span>
            </div>
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                  ></path>
                  <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                </svg>
              </div>
              <span class="md:text-md">18-02 - 20.02.2026</span>
            </div>
          </div>
          <button
            class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-5 py-2 mt-6 md:mt-8"
            title="Apply Now"
          >
            <a href="#">Apply Now</a>
          </button>
        </div>
        <div class="border-t border-border-primary py-6 md:py-8">
          <div class="mb-3 flex items-center gap-4 md:mb-4">
            <h3 class="text-xl font-bold md:text-2xl">
              Intensivkurs mit Annali
            </h3>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              Anfänger und Fortgeschrittene
            </div>
          </div>
          <p class="mb-5 md:mb-6">
            Ein intensiver Kurs mit intensiven Inhalten und intensiven
            Lernerlebnis
          </p>
          <div class="flex flex-wrap gap-y-3">
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
              </div>
              <span class="md:text-md">Am Hof</span>
            </div>
            <div class="mr-6 flex items-center">
              <div class="mr-3 flex-none">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="flex size-6 flex-col items-center justify-center"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                  ></path>
                  <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                </svg>
              </div>
              <span class="md:text-md">18-02 - 20.02.2026</span>
            </div>
          </div>
          <button
            class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-5 py-2 mt-6 md:mt-8"
            title="Apply Now"
          >
            <a href="#">Apply Now</a>
          </button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
