---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
            Ausbildung für Pferd &amp; Reiter
          </h1>
          <p class="md:text-md">
            Wir begleiten dich und dein Pferd mit individuell abgestimmtem
            Unterricht, kompetentem Beritt und persönlicher Unterstützung –
            herzlich, zielgerichtet und mit Freude an der Weiterentwicklung.
          </p>
          <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
              title="Kurs Plan"
            >
              Kurs Plan</button
            ><button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
              title="Unser Angebot"
            >
              Unser Angebot
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mx-auto mb-12 max-w-lg text-center md:mb-18 lg:mb-20">
        <p class="mb-3 font-semibold md:mb-4">Portfolio</p>
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Über Uns
        </h2>
        <p class="md:text-md">
          Aus einer Begegnung entstand eine gemeinsame Vision: Ein Ort, an dem
          Vertrauen auf Erfahrung trifft und Pferd und Reiter gemeinsam
          voranschreiten.
        </p>
      </div>
      <div class="grid grid-cols-1 gap-y-12 md:gap-y-16 lg:gap-y-20">
        <article class="max-w-lg even:ml-auto">
          <div class="mb-5 md:mb-6">
            <a href="#"
              ><img
                src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                class="w-full rounded-image object-cover"
                alt="Relume placeholder image"
              /></a
            >
          </div>
          <h3 class="mb-2 text-xl font-bold md:text-2xl">
            <a href="#">Vom Kennenlernen zur gemeinsamen Mission</a>
          </h3>
          <p>
            Am Lipperthof haben sich Annali und Theresa kennengelernt. Annali
            bereitete Theresa auf eine Prüfung vor, wobei Theresa später Annalis
            Pferd kaufte und weiterhin von ihr unterstützt wurde. Anfang 2025
            beschlossen sie, gemeinsam selbstständig zu werden. Ihr Ziel ist es,
            einen Ort zu schaffen, an dem die Ausbildung von Pferd und Reiter im
            Vordergrund steht, wobei Spaß, Lachen und Freude beim Training nie
            zu kurz kommen.
          </p>
          <div class="mt-3 flex flex-wrap gap-2 md:mt-4">
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag one</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag two</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag three</a>
            </div>
          </div>
          <button
            class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-5 md:mt-6"
            title="View project"
          >
            <a href="#">View project</a><svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"></path>
            </svg>
          </button>
        </article>
        <article class="max-w-lg even:ml-auto">
          <div class="mb-5 md:mb-6">
            <a href="#"
              ><img
                src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                class="w-full rounded-image object-cover"
                alt="Relume placeholder image"
              /></a
            >
          </div>
          <h3 class="mb-2 text-xl font-bold md:text-2xl">
            <a href="#">Annali Brugger &amp; Sammy</a>
          </h3>
          <p>
            Seit ihrer Kindheit mit Pferden verbunden. Mit 16 Jahren bekam sie
            ihr erstes eigenes Pferd, das noch heute am Hof lebt. Sie
            absolvierte ihre Ausbildungen im Saarland und zog 2022 nach Bayern,
            um am Lipperthof zu arbeiten.
          </p>
          <div class="mt-3 flex flex-wrap gap-2 md:mt-4">
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag one</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag two</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag three</a>
            </div>
          </div>
          <button
            class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-5 md:mt-6"
            title="View project"
          >
            <a href="#">View project</a><svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"></path>
            </svg>
          </button>
        </article>
        <article class="max-w-lg even:ml-auto">
          <div class="mb-5 md:mb-6">
            <a href="#"
              ><img
                src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                class="w-full rounded-image object-cover"
                alt="Relume placeholder image"
              /></a
            >
          </div>
          <h3 class="mb-2 text-xl font-bold md:text-2xl">
            <a href="#">Theresa Lips</a>
          </h3>
          <p>
            Wuchs auf dem landwirtschaftlichen Betrieb ihrer Familie mit vier
            Pferden auf. Im Jahr 2024 schloss sie ihre Ausbildung zur
            Pferdewirtin ab und befindet sich aktuell in der finalen Phase ihrer
            Ausbildung zur Hufschmiedin.
          </p>
          <div class="mt-3 flex flex-wrap gap-2 md:mt-4">
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag one</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag two</a>
            </div>
            <div
              class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary"
            >
              <a href="#">Tag three</a>
            </div>
          </div>
          <button
            class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-5 md:mt-6"
            title="View project"
          >
            <a href="#">View project</a><svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"></path>
            </svg>
          </button>
        </article>
      </div>
      <div class="mt-12 flex justify-center md:mt-18 lg:mt-20">
        <button
          class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
          title="View all"
        >
          View all
        </button>
      </div>
    </div>
  </section>

  <section id="relume" class="overflow-hidden px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mb-12 max-w-lg md:mb-18 md:grid-cols-2 lg:mb-20">
        <p class="mb-3 font-semibold md:mb-4">Tagline</p>
        <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
          Medium length section heading goes here
        </h2>
        <p class="md:text-md">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
          <button
            class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
            title="Button"
          >
            Button</button
          ><button
            class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0"
            title="Button"
          >
            Button<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>
      <div
        class="grid auto-cols-fr grid-cols-1 items-start gap-8 sm:grid-cols-2 md:gap-16"
      >
        <div class="flex max-w-xs flex-col items-start">
          <div class="sm:mt-[50%]">
            <img
              src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
              class="mb-6 aspect-[3/4] w-full rounded-image object-cover md:mb-8"
              alt="Relume placeholder image 1"
            />
            <h3 class="mb-3 text-2xl font-bold md:mb-4 md:text-3xl lg:text-4xl">
              Medium length section heading goes here
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla.
            </p>
          </div>
        </div>
        <div class="grid items-end justify-items-end gap-12 md:gap-28">
          <div class="flex max-w-xs flex-col items-start">
            <img
              src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
              class="mb-6 aspect-square w-full rounded-image object-cover md:mb-8"
              alt="Relume placeholder image 2"
            />
            <h3 class="mb-3 text-2xl font-bold md:mb-4 md:text-3xl lg:text-4xl">
              Medium length section heading goes here
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla.
            </p>
          </div>
          <div class="flex flex-col items-start">
            <img
              src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
              class="mb-6 aspect-[3/2] w-full rounded-image object-cover md:mb-8"
              alt="Relume placeholder image 3"
            />
            <h3 class="mb-3 text-2xl font-bold md:mb-4 md:text-3xl lg:text-4xl">
              Medium length section heading goes here
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mb-12 md:mb-18 lg:mb-20">
        <div class="max-w-md">
          <p class="mb-3 font-semibold md:mb-4">Tagline</p>
          <h2
            class="rb-5 mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl"
          >
            Medium length section heading goes here
          </h2>
        </div>
      </div>
      <div
        class="grid grid-cols-1 items-start gap-x-16 gap-y-12 md:grid-cols-[0.75fr_1fr]"
      >
        <div class="flex h-full flex-col justify-between">
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="aspect-square w-full max-w-xxs rounded-image object-cover"
            alt="Relume placeholder image 1"
          />
          <div class="mt-12 mr-[5%] ml-[10%] md:mt-18 lg:mt-20">
            <p class="md:text-md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>
            <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
              <button
                class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
                title="Button"
              >
                Button</button
              ><button
                class="rounded-button inline-flex items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0"
                title="Button"
              >
                Button<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <img
          src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
          class="w-full rounded-image object-cover"
          alt="Relume placeholder image 2"
        />
      </div>
    </div>
  </section>




</BaseLayout>
