---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
            Medium length hero heading goes here
          </h1>
          <p class="md:text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
              title="Button"
            >
              Button</button
            ><button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
              title="Button"
            >
              Button
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-x-20"
      >
        <div class="order-2 md:order-1">
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
        <div class="order-1 md:order-2">
          <h3
            class="mb-5 text-4xl leading-[1.2] font-bold md:mb-6 md:text-5xl lg:text-6xl"
          >
            Qualifizierter Reitunterricht für jedes Niveau – Lernen Sie mit uns!
          </h3>
          <p class="mb-6 md:mb-8 md:text-md">
            Verbessern Sie Ihre Reitfähigkeiten und die Kommunikation mit Ihrem
            Pferd. Unser individueller Unterricht ist auf Ihre Bedürfnisse
            abgestimmt.
          </p>
          <div class="grid grid-cols-1 gap-6 py-2 sm:grid-cols-2">
            <div>
              <h6
                class="mb-3 text-md leading-[1.4] font-bold md:mb-4 md:text-xl"
              >
                Vor Ort
              </h6>
              <p>
                Unterricht mit eigenem Pferd oder einem unserer Schulpferde für
                jedes Alter. Mit eigenem Pferd: Bei Annali: 35 € Bei Theresa: 30
                € Mit einem Schulpferd: Bei Annali: 35 € Bei Theresa: 30 €
              </p>
            </div>
            <div>
              <h6
                class="mb-3 text-md leading-[1.4] font-bold md:mb-4 md:text-xl"
              >
                Mobiler Unterricht
              </h6>
              <p>
                Individueller Unterricht bei Ihnen zu Hause, angepasst an Ihre
                Bedürfnisse. Bei Annali: 35 € Bei Theresa: 30 €
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 items-start justify-between gap-5 md:grid-cols-2 md:gap-x-12 md:gap-y-8 lg:gap-x-20"
      >
        <div>
          <h3 class="text-4xl leading-[1.2] font-bold md:text-5xl lg:text-6xl">
            Unvergessliche Kindergeburtstage
          </h3>
        </div>
        <div>
          <p class="md:text-md">
            Feiern Sie einen besonderen Tag bei uns auf dem Hof! Wir gestalten
            einen unvergesslichen Geburtstag mit Spiel, Spaß und natürlich
            unseren Pferden. Kontaktieren Sie uns für individuelle Angebote und
            Termine.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-y-12 md:grid-flow-row md:grid-cols-2 md:items-center md:gap-x-12 lg:gap-x-20"
      >
        <div>
          <h1
            class="rb-5 mb-5 text-4xl leading-[1.2] font-bold md:mb-6 md:text-5xl lg:text-6xl"
          >
            Professioneller Beritt – Individuell auf Ihr Pferd zugeschnitten
          </h1>
          <p class="mb-6 md:mb-8 md:text-md">
            Egal ob Jungpferd, Korrekturpferd oder die Weiterbildung Ihres
            Partners – wir bieten professionellen Beritt mit Sachverstand und
            Gefühl.
          </p>
          <div class="grid grid-cols-1 gap-6 py-2 sm:grid-cols-2">
            <div>
              <h6
                class="mb-3 text-md leading-[1.4] font-bold md:mb-4 md:text-xl"
              >
                Vor Ort
              </h6>
              <p>
                Umfassende Betreuung für Ihr Pferd inklusive Unterbringung in
                einer Box mit täglichem Koppelgang. Fünf individuelle
                Beritteinheiten pro Woche, abgestimmt auf die Bedürfnisse Ihres
                Pferdes. Schonendes Einreiten von Jungpferden. Individuelle
                Korrektur von Problempferden. Weitere Ausbildung, z.B. das
                Eintölten von Gangpferden. Preis: 900€ monatlich (inkl.
                Unterbringung). Treue-Bonus: Ab dem 3. Monat reduziert sich der
                Preis auf 850€ monatlich.
              </p>
            </div>
            <div>
              <h6
                class="mb-3 text-md leading-[1.4] font-bold md:mb-4 md:text-xl"
              >
                Mobiler Beritt
              </h6>
              <p>
                Wir kommen auch zu Ihnen in den Stall! Preis: 35€ pro Einheit
                (zzgl. eventueller Anfahrtskosten).
              </p>
            </div>
          </div>
        </div>
        <div>
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
