---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
      >
        <div>
          <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
            Ausbildung für Pferd &amp; Reiter
          </h1>
          <p class="md:text-md">
            Wir begleiten dich und dein Pferd mit individuell abgestimmtem
            Unterricht, kompetentem Beritt und persönlicher Unterstützung –
            herzlich, zielgerichtet und mit Freude an der Weiterentwicklung.
          </p>
          <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
              title="Kurs Plan"
            >
              Kurs Plan</button
            ><button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
              title="Unser Angebot"
            >
              Unser Angebot
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image.svg"
            class="w-full rounded-image object-cover"
            alt="Relume placeholder image"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="relume" class="overflow-hidden px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div
        class="rb-12 mb-12 grid grid-cols-1 items-start justify-start gap-y-8 md:mb-18 md:grid-cols-[1fr_max-content] md:items-end md:justify-between md:gap-x-12 md:gap-y-4 lg:mb-20 lg:gap-x-20"
      >
        <div class="md:mr-12 lg:mr-0">
          <div class="w-full max-w-lg">
            <p class="mb-3 font-semibold md:mb-4">Blog</p>
            <h2 class="mb-3 text-5xl font-bold md:mb-4 md:text-7xl lg:text-8xl">
              Short heading goes here
            </h2>
            <p class="md:text-md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
        <div class="hidden md:flex">
          <button
            class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
            title="View all"
          >
            View all
          </button>
        </div>
      </div>
      <div class="relative" role="region" aria-roledescription="carousel">
        <div>
          <div class="flex ml-0">
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div
              role="group"
              aria-roledescription="slide"
              class="min-w-0 shrink-0 grow-0 basis-[95%] pr-6 pl-0 sm:basis-[80%] md:basis-1/3 md:pr-8"
            >
              <a href="#" class="mb-5 inline-block md:mb-6"
                ><img
                  src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
                  alt="Relume placeholder image"
                  class="aspect-[3/2] size-full rounded-image object-cover"
                /></a
              >
              <div class="rb-4 mb-4 flex w-full items-center justify-start">
                <div
                  class="inline-flex items-center rounded-badge px-2 py-1 text-sm font-semibold focus:outline-none border border-transparent bg-background-secondary text-text-primary mr-4"
                >
                  Category
                </div>
                <p class="text-sm font-semibold">5 min read</p>
              </div>
              <a href="#" class="mb-2"
                ><h2 class="text-xl font-bold md:text-2xl">
                  Blog title heading will go here
                </h2></a
              >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
              <button
                class="rounded-button whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border-0 text-text-primary gap-2 bg-transparent p-0 mt-6 flex items-center justify-center gap-x-2"
                title="Read more"
              >
                Read more<svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 15 15"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                    fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="rt-8 mt-12 flex items-center justify-between md:mt-20">
          <div class="mt-5 flex w-full items-start justify-start">
            <button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button><button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button><button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button><button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button><button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button><button
              class="mx-[3px] inline-block size-2 rounded-full bg-neutral-light"
            ></button>
          </div>
          <div class="flex items-end justify-end gap-2 md:gap-4">
            <button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary rounded-full bg-neutral-white left-0 static top-0 right-0 size-12 -translate-y-0"
              disabled=""
            >
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="size-6"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"
                ></path></svg
              ><span class="sr-only">Previous slide</span></button
            ><button
              class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary rounded-full bg-neutral-white static top-0 right-0 size-12 -translate-y-0"
              disabled=""
            >
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="size-6"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              ><span class="sr-only">Next slide</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mt-12 flex justify-end md:hidden">
        <button
          class="rounded-button inline-flex gap-3 items-center justify-center whitespace-nowrap transition-all duration-200 ease-in-out disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-none border border-border-primary text-text-primary bg-background-primary px-6 py-3"
          title="View all"
        >
          View all
        </button>
      </div>
    </div>
  </section>
</BaseLayout>
