---
const { title = "Default Title" } = Astro.props;
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import Contact from "../components/contact.astro";
import "@fontsource/julius-sans-one";
import "@fontsource/ar-one-sans";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body >
    <Navbar />
    <slot />
    <Contact />
    <Footer />
  </body>
</html>
